__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# Ignore the old 1MB model
model.pkl

# Keep the following required runtime files (track with LFS ideally)
!model_dict.pkl
!model_meta.pkl
!features.pkl
!scaler.pkl
!season_encoder.pkl
!enhanced_hourly_electricity_dataset.csv
